<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Crear tarea</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-list class="ion-padding" lines="none">
    <ion-item class="separacion-vertical">
      <ion-label position="floating">Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="nuevaTarea.titulo"></ion-input>
    </ion-item>

    <ion-item class="separacion-vertical">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea rows="5" [(ngModel)]="nuevaTarea.descripcion"></ion-textarea>
    </ion-item>

    <ion-item button="true" id="datetime-custom" class="separacion-vertical">
      <ion-label>{{nuevaTarea.fechaVencimiento || 'Selecciona una fecha'}}</ion-label>
    </ion-item>

    <ion-modal trigger="datetime-custom" [keepContentsMounted]="true" #customModal>
      <ng-template>

        <ion-header>
          <ion-toolbar>
            <ion-button slot="start" (click)="clickCancelCustom()">
              Cancel
            </ion-button>
            <ion-button slot="end" (click)="clickConfirmCustom()">
              Confirm
            </ion-button>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-item>
            <ion-label>Selecciona una fecha</ion-label>
            <ion-datetime
              (ionChange) ="dateSelected($event)"
              [min]="fechaHoy"
              displayFormat="DD/MM/YYYY"
              ></ion-datetime>
          </ion-item>
      </ion-content>

      </ng-template>
    </ion-modal >
    <ion-button expand="block" shape="round" class="ion-margin-top" color="primary" (click)="guardarTarea()">
      Guardar Tarea
    </ion-button>

    <ion-button expand="block" shape="round" class="ion-margin-top" [routerLink]="'/inicio'" color="light">
      Cancelar
    </ion-button>

  </ion-list>
</ion-content>
