/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


/* Estilo para la separación vertical de ítems */
ion-item.separacion-vertical {
    // 1. Crear el espacio en blanco:
    // El margen inferior empuja al siguiente elemento
    margin-bottom: 15px;

    // 2. (Opcional) Estilizar como tarjeta:
    // Mejora la apariencia para que parezca un bloque flotante

    // Elimina el padding/relleno interno si quieres que el margen sea el único separador
    --padding-start: 16px;
    --inner-padding-end: 16px;

    // Bordes redondeados
    border-radius: 8px;

    // Sombra sutil para el efecto de tarjeta
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Opcional: Eliminar cualquier estilo de fondo del ion-list para un aspecto más limpio */
ion-list {
    background: transparent;
}
